
//interaction between components and templates, services, httpclient module
<!-- <div>
    <h1>{{childTitle}}</h1>
     <app-test [parentTitle]="title" [parentTitle2]="title2" (childEvent)="getChildValue($event)"> </app-test> 
  </div>
  -->

//routing concept

<!-- <h1>Routing and Navigation</h1>
<ul>
  <li><a routerLink="/department" routerLinkActive="active">department</a></li> 
   <li><a routerLink="/employee" routerLinkActive="active">employee</a></li>
</ul>

<router-outlet></router-outlet> -->

//genarte nav-bar component by command ng g @angular/material:material-nav --name navbar
<!-- 
<app-navbar></app-navbar> -->